/* App.css */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ECECEC;
    color: #8F8E8E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav.open {
    width: 300px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #openBtn {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
   
  }
  
  .burger-icon {
    display: inline-block;
  }
  
  .burger-icon span {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: block;
    transition: 0.4s;
  }
  
.request input {
  border: none;
  background-color: #8F8E8E;
  height: 30px;
  border-radius: 5px;
  width: 220px;
}
.list h2, .list ul, .request input,  .list li   {
  margin-bottom: 15px;
  margin-left: 10px

}
.request button {
    height: 30px;
    border: 1px solid #8F8E8E;
    border-radius: 10%;
    width: 30px;
    cursor: pointer;
    
}
.request button img {
    width: 25px;
    height: 28px;
}
.request {
    display: flex;
}
.requestbutton button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
}
.requestbutton img {
  width: 20px;
  height: 20px;
}
.requestbutton{
  display: flex;
  align-items: center;
}
.logindemande{
  margin-left: 10px;
}